#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eee4d5;
}

h1 {
  color: #030f7e;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.chart-container {
  background-color: #474e93;
}

h2 {
  color: #fc0404;
  font-size: 1.5rem;
  margin-bottom: 0px;

}